<div class="user-info">
    <div class="table-title">
        <h3>Users List</h3>
        <input type="text" placeholder="search" class="search-box">
    </div>
    <div>
        <table class="info-table">
            <thead>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Company</th>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>username</td>
                    <td>email</td>
                    <td>address</td>
                    <td>phone number</td>
                    <td>company</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>username</td>
                    <td>email</td>
                    <td>address</td>
                    <td>phone number</td>
                    <td>company</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>username</td>
                    <td>email</td>
                    <td>address</td>
                    <td>phone number</td>
                    <td>company</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                   <td colspan="6">
                    total rows 10
                   </td> 
                </tr>
            </tfoot>
        </table>
        <div class="pagination-container">
            <div class="pagination-control">
                <button class="pagination-control-left">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                </button>
                <span class="pagination-control-pagevalue"> 1/2 </span>
                <button class="pagination-control-right">
                    <fa-icon [icon]="faArrowRight"></fa-icon> 
                </button>
            </div>
        </div>
    </div>

</div>