<div class="user-info">
    <div class="table-title">
        <h3>Users List</h3>
        <input type="text" placeholder="search by name or username" class="search-box" #searchBox (keyup)="searchList(searchBox.value)">
    </div>
    <div>
        <table class="info-table">
            <thead>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Company</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of showUserList">
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address | address }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.company.name }}</td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                   <td colspan="6">
                    total rows {{ showUserList.length }}
                   </td> 
                </tr>
            </tfoot>
        </table>
        <div class="pagination-container">
            <div class="pagination-control">
                <button class="pagination-control-left" [disabled]="currentPage==1" (click)="paginateUserList(currentPage-1)">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                </button>
                <span class="pagination-control-pagevalue"> {{currentPage}}/{{totalPage}} </span>
                <button class="pagination-control-right" [disabled]="currentPage==totalPage" (click)="paginateUserList(currentPage+1)">
                    <fa-icon [icon]="faArrowRight"></fa-icon> 
                </button>
            </div>
        </div>
    </div>

</div>