
$tableColor: #1976d2;
$textColor: rgb(46, 46, 46);

.table-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box{
    padding: 5px 10px;
    border: solid 1px #999;
    width: 300px;
}

.info-table {    
    width: 100%;
    border-collapse: collapse;
    thead {
        background-color: $tableColor;
        border: 1px solid darken($color: $tableColor, $amount: 10);
        
        th {
            padding: 10px 0;
            color: #fff;
        }
    }

    tbody{
        tr{
            border-bottom: solid 1px darken($color: $tableColor, $amount: 10);
            &:nth-child(2){
                background-color: lighten($color: $tableColor, $amount: 50);
            }
            td{
                padding: 10px 0;
                text-align: center;
            }
        }
    }

    tfoot{
        border-bottom: solid 1px darken($color: $tableColor, $amount: 10);
        td{
            padding: 5px 10px;
            background: lighten($color: $tableColor, $amount: 30);
            color: #fff;
        }
    }
    
}
.pagination{
    &-container{
        margin-top: 5px;
        display: flex;
        justify-content: end;
    }

    &-control {
        &-left, &-right{
            padding: 5px 20px;
            font-size: 20px;
            background-color: $tableColor;
            color: #fff;
            border: solid 1px darken($color: $tableColor, $amount: 10);
            &:hover{
                background-color: darken($color: $tableColor, $amount: 10);
            }
        }
        &-pagevalue{
            padding: 10px;
        }
    }

}